vendor/
node_modules/

public/storage

storage/*.key
storage/logs/
storage/framework/

bootstrap/cache/

.env
.env.*
!.env.example

.phpunit.result.cache
.php-cs-fixer.cache

.idea/
.vscode/
.DS_Store
Thumbs.db

Homestead.yaml
Homestead.json
.vagrant/

npm-debug.log*
yarn-error.log*
pnpm-debug.log*
